[Unit]
Description=Timer for Gnome Package Updater Notify

PartOf=graphical-session.target

[Timer]
OnStartupSec=15m
OnUnitActiveSec=6h
RandomizedDelaySec=1h

[Install]
WantedBy=graphical-session.target
